*{
    margin:0;
    font-family:sans-serif;
}

#site_header{
    height:100px;
}

#site_main{
    padding-top: 25px;
    padding-bottom:25px;
    width:100%;
}

#site_footer{
    height:100px;
    width:100%;
    background-color: black;
}

/* footer fixed bar */

.navigate{
    position:fixed;
    width:100%;
    height:100px;
    background-color: orange;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.navigate_parts{
    display:flex;
    align-items: center;
    color:white;
    font-weight: bold;
    width:175px;
    height:40px;
    color:white;
    font-family:sans-serif;
}

.logo{
    background-image: url(..//img/boolean-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

i{
    font-size:1.2rem;
    letter-spacing: 15px;
}

/* card of the shop */

.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product{
    position:relative;
    width:25%;
    height:600px;
    margin-bottom:75px;
    margin-left: 10px;
    margin-right:10px;
}

/* list of products with corresponding img */

.relaxed_fit{
    background-image: url(..//img/1.webp);
    background-size:cover;
    background-repeat: no-repeat;
}

.roses_tee{
    background-image: url(..//img/2.webp);
    background-size:cover;
    background-repeat: no-repeat;
}

.colori_pastello{
    background-image: url(..//img/3.webp);
    background-size:cover;
    background-repeat: no-repeat;
}

.tee_unisex{
    background-image: url(..//img/4.webp);
    background-size:cover;
    background-repeat: no-repeat;
}

.stripe_bodice{
    background-image: url(..//img/5.webp);
    background-size:cover;
    background-repeat: no-repeat;
}

.maglione_black{
    background-image: url(..//img/6.webp);
    background-size:cover;
    background-repeat: no-repeat;
}

/* product parts */

.discount{
    color:white;
    background-color:orangered;
    font-weight: bold;
    position:absolute;
    bottom:15%;
    width:50px;
    height:1.5rem;
    text-align: center;
}

.sustainability{
    color:white;
    background-color:orangered;
    font-weight: bold;
    position:absolute;
    bottom:15%;
    left:55px;
    width:100px;
    height:1.5rem;
    text-align: center;
}

#like{
    display:flex;
    align-items:center;
    position:absolute;
    top:5%;
    right:0;
    width:30px;
    height:30px;
    font-size:1.5em;
    background-color: white;
}

#like::before{
    content:"\2661";
}



/* product info parts */

.product_info{
    position:absolute;
    top:100%;
    width:100%;
    font-family:sans-serif;
}

#brand{

}

#product_name{
    font-weight:bold;
}

#price{

}

#original_price{
    text-decoration: line-through;
}

/* footer */

.contacts{
    display:flex;
    width:100%;

    justify-content: space-around;
    align-items: center;
}

.contacts_parts{
    width:400px;
    border:1px solid white;
    color:white;
}

.contacts_parts span{
    font-size:0.8rem;
    padding:3px;
}