*{
    margin:0;
}

#site_header{
    height:100px;
}

#site_main{
    padding-top: 25px;
    padding-bottom:25px;
    width:100%;
}

#site_footer{
    height:100px;
    width:100%;
    background-color: black;
}

.navigate{
    position:fixed;
    width:100%;
    height:100px;
    background-color: orange;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.navigate_parts{
    border:1px solid black;
    width:175px;
    color:white;
    font-family:sans-serif;
}

.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product{
    border:1px solid black;
    width:25%;
    height:500px;
}

#like{
    
}