*{
    margin:0;
    font-family:sans-serif;
}

#site_header{
    height:100px;
}

#site_main{
    padding-top: 25px;
    padding-bottom:25px;
    width:100%;
}

#site_footer{
    width:100%;
    background-color: black;
}

/* header fixed bar */

.navigate{
    position:fixed;
    width:100%;
    height:75px;
    background-color: orange;
    display:flex;
    justify-content:space-around;
    align-items:center;
    z-index: 1000;
    box-shadow: 0 0 10px black;
}

.navigate_parts{
    display:flex;
    align-items: center;
    color:white;
    font-weight: bold;
    height:40px;
    color:white;
    font-family:sans-serif;
}

.navigate_parts i{
    font-size:1.2rem;
    letter-spacing: 15px;
}

.logo{
    background-image: url(..//img/boolean-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width:150px;
}

/* card of the shop */

.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product{
    position:relative;
    width:25%;
    height:600px;
    margin-bottom:75px;
    margin-left: 10px;
    margin-right:10px;
}

/* list of products with corresponding images */

.relaxed_fit{
    background-image: url(..//img/1.webp);
    background-size:cover;
    background-repeat: no-repeat;
}

.relaxed_fit:hover{
    background-image: url(..//img/1b.webp);
    background-size:cover;
    background-repeat: no-repeat;
}

.roses_tee{
    background-image: url(..//img/2.webp);
    background-size:cover;
    background-repeat: no-repeat;
}

.roses_tee:hover{
    background-image: url(..//img/2b.webp);
    background-size:cover;
    background-repeat: no-repeat;
}

.colori_pastello{
    background-image: url(..//img/3.webp);
    background-size:cover;
    background-repeat: no-repeat;
}

.colori_pastello:hover{
    background-image: url(..//img/3b.webp);
    background-size:cover;
    background-repeat: no-repeat;
}

.tee_unisex{
    background-image: url(..//img/4.webp);
    background-size:cover;
    background-repeat: no-repeat;
}

.tee_unisex:hover{
    background-image: url(..//img/4b.webp);
    background-size:cover;
    background-repeat: no-repeat;
}

.stripe_bodice{
    background-image: url(..//img/5.webp);
    background-size:cover;
    background-repeat: no-repeat;
}

.stripe_bodice:hover{
    background-image: url(..//img/5b.webp);
    background-size:cover;
    background-repeat: no-repeat;
}

.maglione_black{
    background-image: url(..//img/6.webp);
    background-size:cover;
    background-repeat: no-repeat;
}

.maglione_black:hover{
    background-image: url(..//img/6b.webp);
    background-size:cover;
    background-repeat: no-repeat;
}

/* product added parts to the card */

.discount{
    color:white;
    background-color:orangered;
    font-weight: bold;
    position:absolute;
    bottom:8%;
    width:50px;
    height:1.5rem;
    text-align: center;
}

.sustainability{
    color:white;
    background-color:green;
    font-weight: bold;
    position:absolute;
    bottom:8%;
    left:52px;
    width:110px;
    height:1.5rem;
    text-align: center;
}

.sustainability2{
    color:white;
    background-color:green;
    font-weight: bold;
    position:absolute;
    bottom:8%;
    left:0px;
    width:110px;
    height:1.5rem;
    text-align: center;
}

#like{
    position:absolute;
    top:2%;
    right:0;
    font-size:1.2em;
    text-align:center;
    background-color: white;
    border:8px solid white;
}

#like:hover{
    fill:black;
}

/* product info parts of the card */

.product_info{
    position:absolute;
    top:100%;
    width:100%;
    font-family:sans-serif;
}

#product_name{
    font-weight:bold;
}

#price{
    font-weight: bold;
    color:red;
}

#original_price{
    color:black;
    text-decoration: line-through;
}

/* footer */

.contacts{
    display:flex;
    width:100%;
    height:75px;
    justify-content: space-around;
    align-items: center;
}

.contacts_parts{
    color:white;
}

.contacts_parts span{
    font-size:0.7rem;
    padding-right:8px;
}

.contacts_parts i{
    padding-top:5px;
}